01/RESTsample/RESTsample/obj
01/RESTsample/RESTsample/bin
01/RESTsample/.vs
homework 1/homework/.vs
homework 1/homework/homework/obj
homework 1/homework/homework/bin
03 - Motorcycles/Solution.Core/obj
03 - Motorcycles/.vs
03 - Motorcycles/Solution.Validators/obj
03 - Motorcycles/Solution.ValidationLibrary/obj
03 - Motorcycles/Solution.DataBase/obj
03 - Motorcycles/Solution.DesktopApp/obj
03 - Motorcycles/Solution.PdfGenerator/obj
03 - Motorcycles/Solution.Api/bin
03 - Motorcycles/Solution.Api/obj
03 - Motorcycles/Solution.Core/bin
03 - Motorcycles/Solution.DataBase/bin
03 - Motorcycles/Solution.DesktopApp/bin
03 - Motorcycles/Solution.PdfGenerator/bin
03 - Motorcycles/Solution.Services/bin
03 - Motorcycles/Solution.Validators/bin
03 - Motorcycles/Solution.Services/obj
homework 1/homework/Core/obj
homework 1/homework/Database/obj
homework 1/homework/DekstopApp/obj
homework 1/homework/Services/obj
homework 1/homework/Validators/obj
